{{ template "base" . }}

{{ define "title" -}}
Flexlets
{{- end }}

{{ define "main" -}}
<style>
  table.flexlets tr > *:nth-child(1) {
    text-align: center;
  }
</style>

<h1>Flexlets</h1>

<table class="table table-sm table-striped flexlets" style="table-layout: fixed">
  <colgroup>
    <col style="width: 6rem">
    <col style="width: 12rem">
    <col style="width: 4rem">
    <col>
  </colgroup>
  <thead>
  <tr>
    <th scope="col">State</th>
    <th scope="col">Name</th>
    <th scope="col">Cores</th>
    <th scope="col">Jobs</th>
  </tr>
  </thead>
  <tbody>
  {{ range .Flexlets }}
  <tr>
    <td>
      {{ if eq .GetState.String "ONLINE" }}
      <span class="badge bg-primary">Online</span>
      {{ else }}
      <span class="badge bg-secondary">Offline</span>
      {{ end }}
    </td>
    <td class="text-ellipsis">{{ .GetFlexlet.GetName }}</td>
    <td>{{ .GetFlexlet.GetSpec.GetCores }}</td>
    <td></td>
  </tr>
  {{ end }}
  </tbody>
</table>
{{ end -}}
