{{ template "base" . }}

{{ define "title" -}}
Home
{{- end }}

{{ define "main" -}}
<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <h1>
    System Status
  </h1>

  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Jobs</h5>
        <div class="row">
          <div class="col text-center">
            <h1>{{ .Stats.GetJob.GetRunningJobs }}</h1>
            Running
          </div>
          <div class="col text-center">
            <h1>{{ .Stats.GetJob.GetPendingJobs }}</h1>
            Pending
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cores</h5>
        <div class="row">
          <div class="col text-center">
            <h1>{{ .Stats.GetFlexlet.GetBusyCores }}</h1>
            Busy
          </div>
          <div class="col text-center">
            <h1>{{ .Stats.GetFlexlet.GetIdleCores }}</h1>
            Idle
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Flexlets</h5>
        <div class="row">
          <div class="col text-center">
            <h1>{{ .Stats.GetFlexlet.GetOnlineFlexlets }}</h1>
            Online
          </div>
          <div class="col text-center">
            <h1>{{ .Stats.GetFlexlet.GetOfflineFlexlets }}</h1>
            Offline
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end -}}
