{{ template "base" . }}

{{ define "title" -}}
Home
{{- end }}

{{ define "main" -}}
<div>
  <h1 class="display-4">System Status</h1>
  <table class="table table-sm table-borderless">
    <tbody>
    <tr>
      <th scope="row">Jobs</th>
      <td>
        {{ .Stats.GetJob.GetRunningJobs }} <span class="badge badge-warning">Running</span>
        /
        {{ .Stats.GetJob.GetPendingJobs }} <span class="badge badge-secondary">Pending</span>
      </td>
    </tr>
    <tr>
      <th scope="row">Cores</th>
      <td>
        {{ .Stats.GetFlexlet.GetBusyCores }} <span class="badge badge-primary">Busy</span>
        /
        {{ .Stats.GetFlexlet.GetIdleCores }} <span class="badge badge-secondary">Idle</span>
        /
        {{ .TotalCores }} <span class="badge badge-success">Total</span>
      </td>
    </tr>
    <tr>
      <th scope="row">Flexlets</th>
      <td>
        {{ .Stats.GetFlexlet.GetOnlineFlexlets }} <span class="badge badge-primary">Online</span>
        /
        {{ .Stats.GetFlexlet.GetOfflineFlexlets }} <span class="badge badge-secondary">Offline</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
{{ end -}}
